#containerBackgroundOuter > div {
  width: 1920px;
  height: 1080px;
  background: #49494a;
  position: absolute;
}

.containerBackgroundOuter {
  width: 1920px;
  height: 1080px;
  background: #59368d;
  position: absolute;
}

#containerBackgroundInner > div {
  top: 30px;
  left: 30px;
  width: 1860px;
  height: 1020px;
  background: #59368d;
  position: absolute;
}

#containerGameplayZone > div {
  top: 100px;
  left: 10px;
  width: 1550px;
  height: 910px;
  background: #39738f;
  position: absolute;
}

.registerUser {
  /* position: absolute; */
  top: 100px;
  left: 75px;

  background-color: lightslategray;
}
.registerUserLabel {
  /* position: absolute; */
  top: 75px;
  left: 75px;
  color: yellow;
}

/* Category buttons */
#battleButton {
  top: 130px;
  left: 1615px;
  width: 250px;
  height: 120px;
  text-align: center;
  border-radius: 50% / 50%;
  cursor: pointer;
  border-color: black;
  background-color: #e72257;
  background-position: 75px 0px;
  background-image: url("./asset/SpriteSheet.png");
  position: absolute;
}
#inventoryButton {
  top: 280px;
  left: 1615px;
  width: 250px;
  height: 120px;
  text-align: center;
  border-radius: 50% / 50%;
  cursor: pointer;
  border-color: black;
  background-color: #1e682e;
  background-position: -110px 0px;
  background-image: url("./asset/SpriteSheet.png");
  position: absolute;
}
#shopButton {
  top: 430px;
  left: 1615px;
  width: 250px;
  height: 120px;
  text-align: center;
  border-radius: 50% / 50%;
  cursor: pointer;
  border-color: black;
  background-color: #3b4e9c;
  background-position: -310px -10px;
  background-image: url("./asset/SpriteSheet.png");
  position: absolute;
}
#idleButton {
  top: 580px;
  left: 1615px;
  width: 250px;
  height: 120px;
  text-align: center;
  border-radius: 50% / 50%;
  cursor: pointer;
  border-color: black;
  background-color: #f59f13;
  background-position: -500px -10px;
  background-image: url("./asset/SpriteSheet.png");
  position: absolute;
}
#settingsButton {
  top: 900px;
  left: 1615px;
  width: 250px;
  height: 120px;
  text-align: center;
  border-radius: 50% / 50%;
  cursor: pointer;
  border-color: black;
  background-color: #757576;
  background-position: -110px -10px;
  /* background-image: url("./asset/SpriteSheet.png"); */
  position: absolute;
}

/* ---------- IDLE UI ------------ */

#idleTopDiv {
  position: absolute;
  /* width: 775px;
  height: 910px; */
  width: 1550px;
  height: 550px;
}
#idleTopLeftDiv {
  position: absolute;
  width: 600px;
  height: 550px;
  background-color: #1e682e;
}

#idleTopRightDiv {
  position: absolute;
  width: 950px;
  height: 550px;
  left: 600px;
  background-color: #e6832e;
}
#idleBottomDiv {
  position: absolute;
  width: 1550px;
  height: 360px;
  top: 550px;
  background-color: #e72257;
}
.skillListDiv {
  border: 3px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
/* ----- SKILL XP BARS */

#skillXpBarOuterDiv {
  position: absolute;
  width: 150px;
  height: 10px;
  background-color: blue;
}
#skillXpBarInnerDiv_woodcutting {
  position: absolute;
  height: 10px;
  background-color: black;
  display: flex;
}
#skillXpBarInnerDiv_mining {
  position: absolute;
  height: 10px;
  background-color: black;
}
#skillXpBarInnerDiv_fishing {
  position: absolute;
  height: 10px;
  background-color: black;
}
#skillXpBarInnerDiv_cooking {
  position: absolute;
  height: 10px;
  background-color: black;
}

#progressOuterBarDiv {
  position: absolute;
  width: 350px;
  height: 30px;
  left: 325px;
  top: 10px;
  background-color: blue;
}
#progressInnerBarDiv {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: black;
  animation: progress-animation 5s linear infinite;
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Skill buttons */
#woodcuttingButton {
  width: 125px;
  height: 100px;
  cursor: pointer;
  background-size: 1600px;
  background-position: 0px -106px;
  background-image: url("./asset/SpriteSheet.png");
}
#miningButton {
  width: 125px;
  height: 100px;
  cursor: pointer;
  background-size: 1600px;
  background-position: -130px -106px;
  background-image: url("./asset/SpriteSheet.png");
}
#fishingButton {
  width: 125px;
  height: 100px;
  cursor: pointer;
  background-size: 1500px;
  background-position: -270px -106px;
  background-image: url("./asset/SpriteSheet.png");
}
#cookingButton {
  width: 125px;
  height: 100px;
  cursor: pointer;
  background-size: 1650px;
  background-position: -475px -120px;
  background-image: url("./asset/SpriteSheet.png");
}

#skillListDiv_woodcutting > img {
  max-width: 10%;
  max-height: 10%;
}

#skillListDiv_mining > img {
  max-width: 10%;
  max-height: 10%;
}
#skillListDiv_fishing > img {
  max-width: 10%;
  max-height: 10%;
}
#skillListDiv_cooking > img {
  max-width: 10%;
  max-height: 10%;
}

/* ---------- INVENTORY UI ------------ */
#inventoryLeftDiv {
  position: absolute;
  width: 775px;
  height: 910px;
  background-color: aqua;
}

#inventoryRightDiv {
  position: absolute;
  width: 775px;
  height: 910px;
  left: 775px;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 217px;
  z-index: 1;
}

.inventorySlotsDiv {
  width: 100%;
  height: 100%;
  background-color: #f59f13;
  border: solid grey;
  box-sizing: border-box;
  position: relative;
  top: 40px;
}
.inventorySlotsDiv > img {
  width: 100%;
  height: 100%;
}
#inventoryRightDiv {
  position: absolute;
  width: 775px;
  height: 910px;
  left: 775px;
  background-color: black;
  z-index: 1;
}

#inventoryCategoryHeader {
  position: absolute;
  width: 775px;
  height: 40px;
  /* left: 775px; */
  background-color: #1e682e;
  z-index: 2;
}
#armorButton {
  width: 100px;
  height: 30px;
  background-color: black;
  cursor: pointer;
}
#weaponsButton {
  width: 100px;
  height: 30px;
  background-color: blue;
  cursor: pointer;
}
#spellsButton {
  width: 100px;
  height: 30px;
  background-color: white;
  cursor: pointer;
}
#consumablesButton {
  width: 100px;
  height: 30px;
  background-color: red;
  cursor: pointer;
}
#resourcesButton {
  width: 100px;
  height: 30px;
  background-color: yellow;
  cursor: pointer;
}

/* .inventorySlot2 {
  background-color: red;
} */
